<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"
            type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"
            type="application/javascript"></script>
    <script src="../dist/gw-api.min.js" type="application/javascript"></script>
    <script src="app.js" type="application/javascript"></script>
    <script src="demo-controller.js" type="application/javascript"></script>
    <script src="statement-mapper.js" type="application/javascript"></script>
    <script src="ng-file-select.js" type="application/javascript"></script>
    <script src="ng-async-file-select.js" type="application/javascript"></script>

</head>

<body ng-app="demo" ng-controller="demoController">
<div class="loader" ng-if="loader">
    <div class="text">loading please wait...</div>
</div>

<div class="header">
    <h3>GW API Client demo</h3>
    <p>You need to serve this file using a web server, and a CORS plugin in your
        browser or a local proxy for using a API from a different domain.</p>
</div>

<div class="wrapper">

    <form class="form-signin block">
        <h4 class="form-signin-heading">Login</h4>
        <input type="text" class="form-control" name="email" ng-model="loginForm.email" placeholder="Email Address"
               required="" autofocus=""/>
        <span class="error">{{loginForm.errors.email}}</span>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" placeholder="Password"
               required=""/>
        <span class="error">{{loginForm.errors.password}}</span>
        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="loginUser()">Login</button>
    </form>


    <div class="block">
        <h4>User session:</h4>
        <pre>{{session}}</pre>
        <button ng-if="session.id" class="btn btn-lg btn-primary btn-block" type="button" ng-click="logoutUser()">
            Logout
        </button>

        <div class="noty-box">
            <a ng-if="session.id" href="" ng-click="getNotifications('growish')">- get user notifications for Growish -</a>
            <a ng-if="session.id" href="" ng-click="getNotifications('wedding')">- get user notifications for ListaNozzeOnline -</a>
            <a ng-if="session.id" href="" ng-click="getNotifications('scuolapay')">- get user notifications for ScuolaPay -</a>
            <a ng-if="session.id" href="" ng-click="getNotifications('nozzepay')">- get user notifications for NozzePay -</a>
        </div>
    </div>

    <div class="block">
        <h4>User:</h4>
        <pre>{{user}}</pre>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getUser()">pull</button>
    </div>

    <div class="block">
        <h4>User list wallets:</h4>
        <pre>{{userListWallts}}</pre>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getListWallets()">pull</button>
    </div>

    <div class="block">
        <h4>Business:</h4>
        <pre>{{business}}</pre>
        <p>Pagination results:</p>
        <pre>{{businessPagination}}</pre>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getBusiness()">pull</button>
    </div>

    <div class="block statement">
        <h4>List wallet statement:
            <small>using statement-mapper</small>
        </h4>
        <input type="text" ng-model="listWallet" placeholder="List wallet id"/>
        <div ng-repeat="operation in statement">
            <div class="row">

                <div class="col-xs-2 text-center">
                    <span class="date month">
                        {{operation.creationDate.month}}
                    </span>
                    <span class="date day">
                        {{operation.creationDate.day}}
                    </span>
                    <span class="date year">
                        {{operation.creationDate.year}}
                    </span>
                </div>

                <div class="col-xs-8 text-left">
                    <h3>{{operation.title}}</h3>
                    <p ng-bind-html="operation.subTitle" class="subtitle"></p>
                    <p ng-bind-html="operation.extraLine" class="extra-line"></p>
                </div>

                <div class="col-xs-2 amount-box">{{operation.amount/100}}</div>

            </div>
        </div>
        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getListWalletStatement()">pull</button>
    </div>

    <div class="block">
        <h4>Set image user</h4>
        <img src="{{session.imageUrl}}" alt="">
        <input type="file" ng-file-select="onFileSelect($files)"/>
    </div>

    <div class="block">
        <h4> kyc user authentication</h4>
        <input type="text" ng-model="kycAuthForm.occupation" />
        <span class="error-label">{{formError.occupation}}</span>
        <input type="file" ng-file-select-async target="requiredFile.image" name="requiredFile.name" />
        <span class="error-label">{{formError.requiredFile}}</span>
        <input type="file" ng-file-select-async target="optionalFile.image" name="optionalFile.name" />
        <span class="error-label">{{formError.optionalFile}}</span>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="kycUserAuth()">kyc user auth</button>
    </div>

    <div class="block">
        <h4>User wallets:</h4>
        <pre>{{wallets}}</pre>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getWallets()">pull</button>
    </div>

    <div class="block">
        <h4>Add Product Wallet</h4>

        <div class="upload">
            <span ng-if="product.name"><strong>{{product.name}}</strong></span>
            <span ng-if="!product.name">add image</span>
            <input type="file" ng-file-select-async target="product.image" name="product.name"/>
        </div>
        <p class="error-label">{{formError.file}}</p>
        <input type="text" ng-model="productForm.walletId" placeholder="id wallet"/>
        <span class="error-label">{{formError.walletId}}</span>
        <input type="text" ng-model="productForm.name" placeholder="name"/>
        <span class="error-label">{{formError.name}}</span>
        <input type="text" ng-model="productForm.description" placeholder="description" />
        <span class="error-label">{{formError.description}}</span>
        <input type="text" ng-model="productForm.goalAmount" placeholder="goal amount" />
        <span class="error-label">{{formError.goalAmount}}</span>
        <input type="text" ng-model="productForm.url" placeholder="url" />
        <span class="error-label">{{formError.url}}</span>
        <input type="hidden" ng-model="productForm.type" />
        <input type="hidden" ng-model="productForm.category" />
        <button class="btn btn-lg btn-primary btn-block" ng-click="addNewProduct()">PUSH</button>
    </div>

    <div class="block statement">
        <h4>
            Restore Password
        </h4>
        <input type="text" ng-model="lostPasswordForm.email" placeholder='email'/>

        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="lostPassword()">pull</button>
    </div>

    <div class="block statement">
        <h4>
            Create new Beneficiary
        </h4>
        <input type="text" ng-model="beneficiary.bankAccountIBAN" placeholder='bankAccountIBAN'/>
        <input type="text" ng-model="beneficiary.bankAccountOwnerAddress" placeholder='bankAccountOwnerAddress'/>
        <input type="text" ng-model="beneficiary.bankAccountOwnerName" placeholder='bankAccountOwnerName'/>

        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="newBeneficiary()">pull</button>
    </div>


    <div class="block statement">
        <h4>
            Get Beneficiaries
        </h4>

        <pre>{{beneficiaryData}}</pre>

        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getBeneficiary()">pull</button>
    </div>

    <div class="block statement">
        <h4>
            Cash out
        </h4>

        <input type="password" ng-model="withdrawalForm.password" placeholder='password'/>
        <input type="text" ng-model="withdrawalForm.beneficiaryId" placeholder='beneficiaryId'/>
        <input type="text" ng-model="withdrawalForm.walletId" placeholder='walletId'/>
        <input type="number" ng-model="withdrawalForm.amount" placeholder='amount'/>
        <input type="text" ng-model="withdrawalForm.pin" ng-if="pinRequired" placeholder='Pin'/>

        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="cashOut()">Cashout</button>

    </div>
</div>

</body>

</html>