<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"
            type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"
            type="application/javascript"></script>
    <script src="../dist/gw-api.min.js" type="application/javascript"></script>
    <script src="app.js" type="application/javascript"></script>
    <script src="demo-controller.js" type="application/javascript"></script>
    <script src="statement-mapper.js" type="application/javascript"></script>
    <script src="ng-file-select.js" type="application/javascript"></script>

</head>

<body ng-app="demo" ng-controller="demoController">
<div class="loader" ng-if="loader">
    <div class="text">loading please wait...</div>
</div>

<div class="header">
    <h3>GW API Client demo</h3>
    <p>You need to serve this file using a web server, and a CORS plugin in your
        browser or a local proxy for using a API from a different domain.</p>
</div>

<div class="wrapper">

    <form class="form-signin block">
        <h4 class="form-signin-heading">Login</h4>
        <input type="text" class="form-control" name="email" ng-model="loginForm.email" placeholder="Email Address"
               required="" autofocus=""/>
        <span class="error">{{loginForm.errors.email}}</span>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" placeholder="Password"
               required=""/>
        <span class="error">{{loginForm.errors.password}}</span>
        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="loginUser()">Login</button>
    </form>


    <div class="block">
        <h4>User session:</h4>
        <pre>{{session}}</pre>
        <button ng-if="session.id" class="btn btn-lg btn-primary btn-block" type="button" ng-click="logoutUser()">
            Logout
        </button>
    </div>

    <div class="block">
        <h4>User:</h4>
        <pre>{{user}}</pre>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getUser()">pull</button>
    </div>

    <div class="block">
        <h4>User list wallets:</h4>
        <pre>{{userListWallts}}</pre>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getListWallets()">pull</button>
    </div>

    <div class="block statement">
        <h4>List wallet statement:
            <small>using statement-mapper</small>
        </h4>
        <input type="text" ng-model="listWallet" placeholder="List wallet id"/>
        <div ng-repeat="operation in statement">
            <div class="row">

                <div class="col-xs-2 text-center">
                    <span class="date month">
                        {{operation.creationDate.month}}
                    </span>
                    <span class="date day">
                        {{operation.creationDate.day}}
                    </span>
                    <span class="date year">
                        {{operation.creationDate.year}}
                    </span>
                </div>

                <div class="col-xs-8 text-left">
                    <h3>{{operation.title}}</h3>
                    <p ng-bind-html="operation.subTitle" class="subtitle"></p>
                    <p ng-bind-html="operation.extraLine" class="extra-line"></p>
                </div>

                <div class="col-xs-2 amount-box">{{operation.amount/100}}</div>

            </div>
        </div>
        <div class="spacer20"></div>
        <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="getListWalletStatement()">pull</button>
    </div>

    <div class="block">
        <h4>Set image user</h4>
        <img src="{{session.imageUrl}}" alt="">
        <input type="file" ng-file-select="onFileSelect($files)"/>
    </div>

</div>

</body>

</html>